<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fetch Current Week Info</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Fetch Current Week Info</h1>
    <button id="fetchButton">Get Current Week Info</button>
    
    <div id="results">
        <!-- Results will be injected here -->
    </div>

    <script>
        $(document).ready(function(){
            $("#fetchButton").click(function(){
                $.ajax({
                    url: "{% url 'fetch_week_info' %}",
                    method: "GET",
                    success: function(data) {
                        $("#results").html(data);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
